<footer>
  <a href="tel:1-812-246-0666"><img src="img/phone.png" alt="Phone Number"></a>
  <a href="mailto:dancers@lousivilleecd.org"><img src="img/email.png" alt="Email Address"></a>
  <a hreg="https://www.facebook.com/Louisville-English-Country-Dancers-114054155298936/"><img src="img/facebook.png" alt="Facebook Page"></a>
  <a href="https://www.google.com/maps/place/2233+Woodbourne+Ave,+Louisville,+KY+40205/@38.2275673,-85.687663,17z/data=!3m1!4b1!4m5!3m4!1s0x88690ca80a3f1e03:0xfcea40dde35ef4e8!8m2!3d38.2275673!4d-85.6854743"><img src="img/pin.png" alt="Google Map"></a>
  <p>&copy; 2016 LouisvilleECD</p>
</footer>
</body>
</html>
